{% extends 'base.html' %}

{% block content %}

<div class="auth-wrapper">
    <div class="auth-card">
        <h2>Edit Profile</h2>
        <p>Update your account details.</p>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <input type="email" name="email" value="{{ user.email }}" placeholder="Email">
            <input type="file" name="profile_photo">

            {% if candidate_profile %}
                <input type="text" name="phone" value="{{ candidate_profile.phone }}" placeholder="Phone">
                <input type="text" name="qualification" value="{{ candidate_profile.qualification }}" placeholder="Qualification">
                <input type="text" name="skills" value="{{ candidate_profile.skills }}" placeholder="Skills">
                <input type="file" name="resume">
            {% endif %}

            {% if recruiter_profile %}
                <input type="text" name="company_name" value="{{ recruiter_profile.company_name }}" placeholder="Company Name">
                <input type="text" name="phone" value="{{ recruiter_profile.phone }}" placeholder="Phone">
                <input type="text" name="company_location" value="{{ recruiter_profile.company_location }}" placeholder="Company Location">
            {% endif %}

            <button type="submit">Update Profile</button>
        </form>
    </div>
</div>

{% endblock %}